.product {
  font-size: 0.8em;
  padding: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &__detail {
    padding: 0 8px 8px;
  }

  &__wrapper {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    display: grid;
  }

  &__card {
    width: 100%;
    position: relative;
    display: flex;
    min-width: 0;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(81, 88, 94, 0.12);
    box-shadow: 0 0.05rem 0.2rem rgb(0 0 0 / 3%);
    border-radius: 0.35rem;
  }

  &__button {
    display: flex;
    flex-direction: row;

    .btn {
      font-size: 1em;
    }
  }

  &__price {
    font-size: 1.1em;
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    gap: 7px;

    strong {
      color: #ce3333;
    }
  }

  &__stock {
    margin-bottom: 0;
  }

  &__title {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 1.1em;
    margin-bottom: 14px;
    display: grid;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__image {
    position: relative;
    min-width: 200px;
    min-height: 200px;
  }

  &__label {
    position: absolute;
    padding: 2px 6px;
  }

  &__sales {
    background-color: #ce3333;
    color: #fff;
    top: 0;
  }

  &__brand {
    background-color: #000000;
    color: #ffffff;
    bottom: 0;
  }
}
