.range {
  &__group {
    position: relative;
    height: 35px;
  }

  &__min {
    position: absolute;
    appearance: none;
    width: 96%;
    margin: 2%;
    overflow: hidden;
    outline: none;
    background: linear-gradient(orange, orange) no-repeat center;
    background-size: 100% 2px;
    pointer-events: none;
  }

  &__max {
    position: absolute;
    background: none;
    -webkit-appearance: none;
    appearance: none;
    width: 96%;
    margin: 2%;
    overflow: hidden;
    outline: none;
    background: linear-gradient(orange, orange) no-repeat center;
    background-size: 100% 2px;
    pointer-events: none;
  }
}

input[type='range']::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 5px;
}
input[type='range']::-moz-range-track {
  -moz-appearance: none;
  height: 5px;
}
input[type='range']::-ms-track {
  appearance: none;
  height: 5px;
}
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1.2em;
  width: 1.2em;
  background-color: #0d6efd;
  cursor: pointer;
  margin-top: -7px;
  pointer-events: auto;
  border-radius: 50%;
  z-index: 999;
  position: relative;
}
input[type='range']::-moz-range-thumb {
  -webkit-appearance: none;
  height: 1.2em;
  width: 1.2em;
  cursor: pointer;
  border-radius: 50%;
  background-color: #0d6efd;
  pointer-events: auto;
  z-index: 999;
}
input[type='range']::-ms-thumb {
  appearance: none;
  height: 1.7em;
  width: 1.7em;
  cursor: pointer;
  border-radius: 50%;
  background-color: #0d6efd;
  pointer-events: auto;
  z-index: 999;
}
input[type='range']:active::-webkit-slider-thumb {
  background-color: #ffffff;
  border: 3px solid #0d6efd;
}
