.cart {
  &__title {
    font-size: 1.6rem;
    color: #ffffff;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__items {
    color: rgba(255, 255, 255, 0.702);
  }

  &__options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__coupon {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 12px;
    margin: 8px 0;
  }

  &__summary {
    display: flex;
    gap: 8px;
    flex-direction: column;
  }

  &__summaryRow {
    display: flex;
    justify-content: space-between;
  }
  &__summaryRowPromo {
    color: #f90000;
  }
}
