.product {
  padding: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &__detail {
    padding: 0 11px 14px 11px;
  }

  &__wrapper {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 200px;
    display: grid;
  }

  &__card {
    width: 100%;
    position: relative;
    display: grid;
    min-width: 0;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(81, 88, 94, 0.12);
    box-shadow: 0 0.05rem 0.2rem rgb(0 0 0 / 3%);
    border-radius: 0.35rem;
  }

  &__button {
    display: grid;
    gap: 8px;
    grid-auto-flow: column;
  }

  &__price {
    margin-top: 8px;
  }

  &__description {
    padding: 15px;
    margin-top: 8px;
  }

  &__title {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 16px;
    display: grid;
  }
}
