.couponExample {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 1rem;
  border: 1px solid #dee2e6;
  border-radius: 20px;
  font-size: 0.8rem;
  gap: 4px;

  .button {
    padding: 2px 4px;
  }
}
