.widget-header {
  position: relative;
}

.notify {
  display: inline-block;
  padding: 3px 6px;
  font-size: 11px;
  line-height: 1;
  text-align: center;
  border-radius: 3rem;
  color: #fff;
  background-color: #ff2748;
  position: absolute;
  top: 5px;
  left: 5px;
}

.total {
  display: inline-block;
  padding: 3px 6px;
  font-size: 10px;
  line-height: 1;
  text-align: center;
  border-radius: 3rem;
  color: #fff;
  background-color: #0d6efd;
  position: absolute;
  left: -37px;
  bottom: 10px;
}

.logo {
  transition: all 0.25s ease;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #383838;
  i {
    color: #0d6efd;
    transition: all 0.25s ease;
  }
  &:hover {
    color: #0d6efd;
    i {
      color: #383838;
    }
  }
}

.row {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  justify-content: space-between;
  margin-bottom: 12px;
  margin-top: 12px;
  grid-template-areas: 'logoblock search widget';
  grid-template-columns: 150px 0.8fr 40px;
  gap: 8px;
  @media (max-width: 576px) {
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    grid-template-areas:
      'logoblock  widget'
      'search search';
  }
}

.logoblock {
  grid-area: logoblock;
}

.search {
  grid-area: search;
}

.widget {
  grid-area: widget;
}

.nav {
  .nav-link {
    font-size: 1.2rem;
  }
}

.widget_item {
  position: relative;

  i {
    font-size: 25px;
    color: #6c757d;
    transition: all 0.25s ease;
    &:hover {
      color: #0d6efd;
    }
  }
}

.left {
  display: grid;
  grid-auto-flow: column;
  gap: 25px;
}
