.footer {
  color: #ffffff;

  aside {
    margin-top: 20px;
  }

  a {
    transition: all 0.25s ease;
    color: #ffffffb3;
    &:hover {
      color: #ffffff;
    }
  }

  background-color: #0d6efd;

  &__section {
    margin-bottom: 20px;
  }

  &__logo {
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
  }

  &__ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__rs {
    max-height: 35px;
    opacity: 0.75;
    transition: all 0.25s ease;
    &:hover {
      opacity: 1;
    }
  }

  &__rslogo {
    text-align: right;
  }

  &__payments {
    display: flex;
    gap: 5px;
    align-items: center;
  }
}
