.cart {
  &__spinerButton {
    border: 1px solid #dcdcdc;
    font-size: 1.1em;
    &:hover {
      color: #0d6efd;
      border-color: #6aa3ff;
    }
  }

  &__productCount::-webkit-outer-spin-button,
  &__productCount::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &__productCount[type='number'] {
    -moz-appearance: textfield;
  }

  &__label {
    position: absolute;
    background-color: crimson;
    color: aliceblue;
    padding: 2px 9px;
    border-radius: 50%;
    transform: translate(-9px, -6px);
  }
}

.productPage__stars {
  color: #ebb401;
  font-size: 1.3em;
}
