.product-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;

  .card-product {
    width: 32%;
    @media (max-width: 768px) {
      width: 48%;
    }

    @media (max-width: 499px) {
      width: 100%;
    }
  }

  .product__stock,
  .product__description {
    display: none;
  }

  .product__grid {
    display: flex;
    flex-direction: column;
  }

  .product__image {
    grid-area: image;
    min-width: 90px;
    border-bottom: 1px solid rgba(81, 88, 94, 0.12);
  }
}

.product-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 30px;

  .card-product {
    width: 100%;
  }

  .product__wrapper {
    background-size: cover;
    width: 300px;

    width: 350px;

    @media (max-width: 768px) {
      min-height: 200px;
      width: 100%;
    }

    @media (max-width: 499px) {
      min-height: 200px;
      width: 100%;
    }
  }

  .product__description {
    display: block;
  }

  .product__grid {
    display: flex;
    flex-direction: row;
    gap: 10px;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  .product__image {
    flex: 0 0 350px;
    border-right: 1px solid rgba(81, 88, 94, 0.12);

    @media (max-width: 768px) {
      flex: 1 1 100%;
      min-height: 200px;
    }

    @media (max-width: 499px) {
      min-height: 200px;
      flex: 1 1 100%;
    }
  }

  .product__details {
    flex: 1 1 auto;
  }
}

.filter .button-group {
  border: 1px solid #e0d9d9;
  margin-bottom: 15px;
}

.filter .card-body .form-check {
  padding-left: 0;
}
