.product-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .card-product {
    width: 33.33333%;
    @media (max-width: 768px) {
      width: 50%;
    }

    @media (max-width: 499px) {
      width: 100%;
    }
  }

  .product__description {
    display: none;
  }

  .product__grid {
    display: grid;
    grid-template-areas:
      'image '
      'detail ';
  }

  .product__image {
    grid-area: image;
    min-width: 90px;
    border-bottom: 1px solid rgba(81, 88, 94, 0.12);
  }

  .product__detail {
    grid-area: detail;
  }
}

.product-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  .card-product {
    width: 100%;
  }

  .product__wrapper {
    background-size: cover;
  }

  .product__description {
    display: block;
  }

  .product__grid {
    display: grid;
    grid-template-areas: 'image detail';
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    @media (max-width: 576px) {
      grid-template-areas:
        'image'
        'detail';
      grid-template-columns: 1fr;
    }
  }

  .product__image {
    grid-area: image;
    min-width: 90px;
    border-right: 1px solid rgba(81, 88, 94, 0.12);
  }

  .product__detail {
    grid-area: detail;
  }
}
